* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./images/white-balloons.jpeg");
    background-size: cover;
    background-attachment: fixed;
    color:black;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
   
}

section, .content  {
    text-align: center;
    padding: 15px;
    
}

header {
    background-image: url("./images/Happy-Birthday-Candles-Cropped.jpeg");
    background-position: center bottom;
    padding: 20px 30px 80px 30px;
}

header h1 {
    display: inline;
    margin: 0;
}

#description {
    font-size: 20px;
    color: rgb(206, 4, 4);
    font-style: italic;
    font-weight:normal;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    font-size: 16px;
}

header nav ul li a {
    margin: 0 10px;
    font-weight: lighter;
    text-decoration: none;
    color: white;
}

p {
    font-size: 20px;
    line-height: 1.6;
    padding: 15px;
    margin: 0px 20px 20px 20px;   
}

footer p {
    font-size: 16px;
    line-height: 1.6;
    padding: 15px;
    font-weight: lighter;
}

a:visited {
    color: aliceblue;
}

a:hover {
    color: peru;
}

h1 {
    font-size: 40px;
    color:rgb(206, 4, 4);
}

h1 span {
    color:white;
}

h2 {
    font-size: 30px;
    color: black;
    text-decoration: underline;
    text-underline-position: under;
}

#results-container {
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    line-height: 2.0;
    text-align: left;
}


.form-row label {
    font-size: 20px;
    font-weight: bold;
}

.form-row input {
    font-size: 18px;
}

.quote-div {
    color: black;
    padding: 0px 30px 35px 30px;
    font-size: 20px;
}

.submit-btn {
    margin-top: 20px;
}